# Server
PORT=3000

# Firebase
GOOGLE_APPLICATION_CREDENTIALS=#################
# Zoom Server-to-Server OAuth
ZOOM_ACCOUNT_ID=#######################
ZOOM_CLIENT_ID=################
ZOOM_CLIENT_SECRET=######################